@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #5547d3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todos-parent {
  display: grid;
  grid-template-areas:
    "form list-todos"
    "get-todos list-todos"
  ;
}

@media (width < 950px) {
  .todos-parent {
    grid-template-areas:
    "form"
    "get-todos"
    "list-todos"
  ;
  }
}

.bective-form-parent {
  display: grid;
  place-items: center;
}
