@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #b9b0b0;
}

.time-form {
  margin-top: 15rem;
  margin-left: 10rem;
  width: 420px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 15px 15px;
  transition: all 0.3s ease 0s;
}

.work-time-title {
  position: absolute;
  margin-left: 3.5rem;
  color: #000000;
}

.pause-time-title {
  position: absolute;
  margin-left: 15.5rem;
  color: #000000;
}

.is-working-title {
  transition: all 0.3s ease 0s;
  color: #ffaf00;
}

.is-in-pause-title {
  transition: all 0.3s ease 0s;
  color: #0fbcce;
}

.work-time {
  position: absolute;
  margin-top: 4rem;
  margin-left: 40px;
  width: 150px;
}

.work-time-input {
  height: 40px;
  width: 30px;
  border-radius: 5px;
  margin-left: 5px;
}

.pause-time {
  position: absolute;
  margin-left: 220px;
  margin-top: 4rem;
}

.pause-time-input  {
  height: 40px;
  width: 30px;
  margin-left: 5px;
  border-radius: 5px;
}

.buttons-time-form {
  .btn-form {
    width: 60px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20rem;
    padding: 0 15px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    border: none;
    color: #252323;
  }
  .btn-form:hover {
    color: #fcfcfc;
    background-color: #000000;
  }
  .btn-form:nth-child(3) {
    width: 84px;
  }
  .btn-form:nth-child(4) {
    width: 65px;
  }
}

input {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  list-style: none;
  display: flex;
  background-color: #ffffff;
  height: 35px;
  width: 100%;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;

  .navbar-elements-links {
    cursor: pointer;
    list-style: none;
    color: black;
    margin-left: 40rem;
  }

  .navbar-elements-links .linkNav {
    transition: all 0.3s ease 0s;
    display: inline-block;
    padding: 0 15px;
    margin: 0 15px;
  }

  .navbar-elements-links .linkNav:hover {
    color: #fcfcfc;
    background-color: #000000;
    border-radius: 5px;
  }
}
