nav {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 33% 30%;
  align-items: center;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    height: 10px;
    align-items: center;
    li {
      list-style: none;
      margin-right: 1rem;
    }
  }
  img {
    border-radius: 50%;
    width: 35px;
  }
}
