.navbar {
  background-color: #ffffff;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    display: flex;

    li {
      margin: 0 10px;
    }
  }
}
